.App {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: var(--primary-color);
}

.App-header h1{
  margin: 1rem 0;
}

.inner-container{
  height: 60vh;
}

#message-div{
  max-width: 275px;
  min-height: 8vh;
  margin: auto;
}

#message{
  padding: 1rem;
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid rgb(255, 0, 0);
  border-radius: 0.5rem;
}

label{
  display: block;
  margin-top: 1rem;
  font-size: large;
  font-weight: 600;
}
input{
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 260px;
}

button{
  min-width: 80px;
  padding: 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  font-weight: 700;
  cursor: pointer;
}

#notes-display-table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem auto;
}

#notes-display-table caption{
  margin-bottom: 1rem;
  font-size: large;
  font-weight: 700;
}

th, td{
  margin: 0;
  border: 2px solid var(--primary-color);
  padding: 0.5rem;
}

footer{
  margin-top: 3.6rem;
}

footer p{
  display: inline;
}

#non-bullet-list{
  display: inline;
  list-style: none;
  padding: 0;
}

.list-item{
  display: inline;
  padding-left: 1rem;
}

.link{
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
}

#copy-right a{
  color: white;
}